@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Karla, Source Sans Pro, Avenir Next, Helvetica Neue, Arial;
}

ul {
  width: 100%;
  list-style: none;
  display: table;
}

li {
  background: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  width: 25%;
  font-size: 1.5em;
  display: inline-block;
  list-style-type: none;
  border: 1px solid rgba(0,0,0,.1);
  margin: 0 !important;
}

#output {
  font-size: 2.5em;
  font-weight: bold;
  background: none;
  width: 100%;
}
#output li {
  text-align: center;
  width: 100%;
  margin: 0;
}

#random {
  padding: 20px;
  font-size: 2em;
  background: #67be78;
  color: white;
  margin: 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: all ease-in .3s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input {
  width: 100%;
  padding: 10px;
  vertical-align: middle;
  margin: 0;
  border: 0;
  font-size: 2em;
  text-align: center;
  outline: 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

#random:hover {
  background: #479e57;
}

@media (max-width: 900px) {
  li {
    width: 50%;
  }
  #output {
    width: 100%;
    font-size: 2.5em;
  }
  #output li {
    width: 100%;
  }
}
